<div>
    <h1>Monolith Dashboard</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, aliquid voluptatem reiciendis numquam id impedit sapiente obcaecati quisquam eum nam, odit eaque a atque similique excepturi incidunt alias necessitatibus doloremque!</p>
</div>